<div class="login">
  <div class="container">
    <div class="head">
      <div class="logo">
        <span class="circle">
          <span class="dot"></span>
        </span>
      </div>
      <h2>Log in to your account</h2>
      <p>Welcome back! Please enter your details.</p>
    </div>
    <div class="login-form">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-control">
          <label>User Name</label>
          <input type="text" placeholder="Enter You Name" name="username" formControlName="username">
          <span class="err-msg"
            *ngIf="LoginFormControls.username?.errors?.required && LoginFormControls.username?.touched">
            this field is required
          </span>
          <span class="err-msg"
            *ngIf="LoginFormControls.username?.errors?.maxlength && LoginFormControls.username?.touched">
            user name must be less than 16 letter
          </span>
          <span class="err-msg"
            *ngIf="LoginFormControls.username?.errors?.minlength && LoginFormControls.username?.touched">
            user name must be more than 4 letter
          </span>
        </div>
        <div class="form-control">
          <label>Password</label>
          <input type="password" name="password" formControlName="password">
          <span class="err-msg"
            *ngIf="LoginFormControls.password?.errors?.required && LoginFormControls.password?.touched">
            this field is required
          </span>
          <span class="err-msg"
            *ngIf="LoginFormControls.password?.errors?.maxlength && LoginFormControls.password?.touched">
            user name must be less than 32 letter
          </span>
          <span class="err-msg"
            *ngIf="LoginFormControls.password?.errors?.minlength && LoginFormControls.password?.touched">
            user name must be more than 8 letter
          </span>
        </div>
        <button type="submit" class="submit-btn">{{logging?'Signing in...':'Sign In'}}</button>
      </form>
    </div>
  </div>
</div>
